* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 5px;
    background-color: #fff;
    width: 100%;
    /* background: linear-gradient(to right, #fff, #ffe9cf); */
    position: fixed;
    top: 0;
    border-bottom: 5px solid #c46c07;
}

.logo img {
    height: 50px;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #734817;
    /* border: 1px solid #734817; */
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 2px;


}

.nav-links a:hover {
    border-bottom: 1px solid #734817;
    box-shadow: 0 5px 2px -1px #a7671d;
}

.login-btn {
    text-decoration: none;
    font-size: 18px;
    background-color: #a65b06;
    border: 1px solid #885c1b;
    border-radius: 3px;
    width: 80px;

}

.login-btn .login-btn-link {
    color: #ffffff;
    border: none;
}

.login-btn:hover {
    border: 1px solid #fffaf4;
    box-shadow: 2px 2px 2px 2px #734817;
    background-color: #fff;
}

.login-btn:hover .login-btn-link {
    border: none;
    box-shadow: none;
    color: #885c1b;
}

.container-1 .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, #683903db, #f8b688); */
    background-color: #a65b06;
    width: 15vw;
    gap: 25px;
    height: 100%;
    padding-bottom: 110px;


}

.sidebar .side-menus {
    padding-inline: 10px;
    padding-bottom: 0;

}

.sidebar ul {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.container-1 {
    display: flex;
    margin-top: 68px;
    height: 100vh;
    margin-bottom: 110px;

    /* position: fixed; */
    /* top: 12.2%; */
    /* overflow-y: hidden; */


}

.sidebar a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 2px;
}

.sidebar .side-menus:hover {
    border-bottom: 7px solid #f7c995;
    transition: all .3s ease-in-out;

}

.sidebar img {
    height: 2.3rem;

}

.main-collection {
    width: 75vw;
    height: 100%;

}

.col-rooms {
    margin-top: 25px;
}

.col-head {
    margin-top: 20px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.col-h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.col-head .col-desc {
    font-size: 18px;
}

.col-images {
    background-image: url(./../img/living-rooms-2.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 86%;
    height: 86%;
    animation-name: slider;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px 3px #7d4b04;

}

@keyframes slider {

    0% {
        background-image: url(./../img/living-rooms-2.jpg);
    }

    25% {
        background-image: url(./../img/dining-room-2.webp);
    }

    50% {
        background-image: url(./../img/collage-beds-1.jpg);
    }


    75% {
        background-image: url(./../img/collage-kitchen-2.webp);
    }



}

.main-tag {
    color: #fff;
    width: 45%;
    /* height: 100vh; */
    position: relative;
    top: 35%;
    bottom: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
}

.main-head {
    font-size: 45px;
    font-weight: 1000;
}

.main-info {
    margin-top: 15px;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 1px 1px #d3d3d3;
}


.footer {
    padding-top: 60px;
    /* margin-top: 60px; */
    margin-bottom: 0;
    border-top: 5px solid #c46c07;

}

.footer .box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;



    /* max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 3rem;
    /* margin-left: 5rem; 
    padding-inline: 10px;
    margin-bottom: 0;
    z-index: 50; */
}

.box-container .box {
    width: 21%;
    padding-inline: 10px;
    padding-block: 16px;
    margin-bottom: 30px;
}

.footer .box-container .box h3 {
    text-transform: uppercase;
    /* color: var(--black); */
    font-size: 20px;
    padding-bottom: 10px;
}

.footer .box-container .box p,
.footer .box-container .box a {
    display: block;
    font-size: 16px;
    color: black;
    padding: 10px 0;
    text-decoration: none;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
    color: black;
    padding-right: 5px;

}

.footer .box-container .box a:hover {
    color: #eea858;
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    font-size: 22px;
    color: #fff0d6;
    background-color: #6e3804;
    /* margin-top: 2px; */
    padding-top: 10px;
    padding-bottom: 20px;

}

.footer .credit span {

    color: #f9b331;
}



.footer svg {

    margin-bottom: 0;
    padding-bottom: 0;

}

.foot {
    display: flex;
    flex-direction: column;
    /* position: relative;
    top: -20px; */

}

.parentnav {
    display: none;
}

.navbar-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 5px;
    background-color: #fff;
    width: 100%;
    /* background: linear-gradient(to right, #fff, #ffe9cf); */
    position: fixed;
    top: 70px;
    border-bottom: 5px solid #c46c07;
}

.logo img {
    height: 50px;
}


.nav-link {
    display: flex;
    gap: 20px;
}

.nav-link ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    font-size: 18px;
    color: #734817;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 2px;

}

.nav-link a:hover {
    border-inline: 3px solid #734817;
    /* box-shadow: 3px 0 2px 2px #a7671d; */
}






@media screen and (max-width: 768px) {

    .footer .box {
        width: 40%;
    }

    .footer .box-container .box p,
    .footer .box-container .box a {
        font-size: 16px;
    }

    .navbar,
    .navbar-2 {
        z-index: 50;
    }
}

@media screen and (max-width:600px) {
    .container-1 .sidebar {
        display: none;
    }

    .parentnav {
        display: block;

    }

    .navbar,
    .navbar-2 {
        z-index: 50;
    }
    
    .container-1 .main-collection {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
    }


    .footer .box {
        width: 80%;
    }

    .footer .box-container .box p,
    .footer .box-container .box a {
        font-size: 14px;
    }

}






/* .features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5px;
}

.feature {
    width: 25%;
    box-shadow: 1px 1px 15px 2px #bfbfbf;
    padding-block: 15px;
    padding-inline: 15px;
    margin-bottom: 10px;

}

.feature-desc {
    text-align: center;
}

.feature i {
    color: #db923e;
    padding: 5px;
    font-size: 26px;
    box-shadow: 1px 1px 10px 2px #e1e1e1;

}

.feat-desc {
    text-align: center;
    margin-block: 10px;
}

.font-icon img{
    margin-block: 8px;
    width: 100%;

} */