* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 5px;
    background-color: #fff;
    width: 100%;
    /* background: linear-gradient(to right, #fff, #ffe9cf); */
    position: fixed;
    top: 0;
}

.logo img {
    height: 60px;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #734817;
    /* border: 1px solid #734817; */
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 2px;

}

.nav-links a:hover {
    border-bottom: 1px solid #734817;
    box-shadow: 0 5px 2px -1px #a7671d;
}

.login-btn {
    text-decoration: none;
    font-size: 18px;
    background-color: #7f4c11;
    border: 1px solid #885c1b;
    border-radius: 3px;
    width: 80px;

}

.login-btn .login-btn-link {
    color: #ffffff;
    border: none;
}

.login-btn:hover {
    border: 1px solid #fffaf4;
    box-shadow: 2px 2px 2px 2px #734817;
    background-color: #fff;
}

.login-btn:hover .login-btn-link {
    border: none;
    box-shadow: none;
    color: #885c1b;
}


.container-1 .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #683903db, #f8b688);
    width: 18vw;
    gap: 25px;
    height: 100%;

}

.sidebar .side-menus {
    padding-inline: 10px;
    padding-bottom: 0;
}

.sidebar ul {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    margin-top: 50px;
    height: 900px;
  width: 150px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 10px;
}

.main-collection {
    width: 75vw;
}
.content-card{
    display: flex;
    flex-direction: row;
}

.card{
    box-shadow: 1px 1px 10px 2px #dcdcdc;
    padding-inline: 15px;
    padding-block: 15px;
    margin-bottom: 10px;
    width: 340px;
    height: 350px;
    margin-top: 30px;
    margin-left: 20px;   
    
}
.card-img{
    width: 340px;
}
.container-2{
    margin-bottom: 25px;
}
.head-3 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.head-3 {
    text-align: center;
    margin-bottom: 20px;
}

.prj-desc{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}




















